
section.fromtheDM, blockquote, .vision {
  clear: both;
  margin: 1em 0;
  padding: 1em 1.2em 0.5em;
  position: relative;
  border-left-style: solid;
  border-left-width: 0.5em;
  background: none repeat scroll 0 0 #ffffff;
}

section.fromtheDM {
  border-color: #52e052;
  background-color: #e9fbe9;
}

blockquote {
  border-color: #e0cb52;
  background-color: #fcfaee;
}

.vision {
  border-color: red;
  background-color: pink;
}

h3.fromtheDM {
  font: normal small-caps;
}

.date {
  margin-top: 0;
  font-weight: bold;
  font-size: 75%;
}

h2.headingAndDate {
  margin-bottom: 0;
}

